/* Container holding the image and the text*/
.container-fluid{
    position: relative;
    text-align: center;
    color: #ffffcc;
    font-size: 30px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





